<!-- views/home.handlebars -->
{{#if user}}
  <div class="jumbotron">
    <h1>Events</h1>
    <p id="time"></p>
  </div>
  <div class="panel panel-default">
  </div>

<!--event-->

{{# each title}}
<section class="panel-group" >
    <p>
      <h1> {{this.[0].hometeam}} - {{this.[0].awayteam}} </h1>
     <img src = "{{this.[0].image}}" width="400" height="200"/><br>
    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
    <label>{{this.[0].date}} Time {{this.[0].time}}</label><br>
    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
    <label>Location: {{this.[0].location}}</label><br>
    <label>TV-Channel: {{this.[0].tv}}</label><br>
    </p>
</section>
{{/each}}


<script>
document.getElementById("attend").onclick = function() {attendFunction()};
function attendFunction() {
    document.getElementById("attend");
    alert("Attended");
}
document.getElementById("unattend").onclick = function() {unattendFunction()};
function unattendFunction() {
    document.getElementById("unattend");
    alert("Unattended");
}
</script>




{{else}}
<div class="jumbotron">
  <h1>Welcome to Football TV</h1>
  <h2>Sign in</h2>
  <p>
</div>
<div class="col-md-offset-4">
    <a href="/auth/facebook/" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> Sign in with Facebook</a>
  </p>
</div>

{{/if}}
